<form ref="{{ form }}" action="javascript:;">
  <input
    class="TodoList-input"
    value="{{ inputText }}"
    ref="{{ input }}"
    placeholder="Start your day by... making your bed?"
  />
  <button class="TodoList-button button-submit" ref="{{ add }}" type="submit">Add</button>
</form>
